body {
    padding: 0px;
    margin: 0px;
    background-color: #a12a09;
    font-family: 'Limelight', cursive;
}

h1 {
    margin: 0px;
}
.cover {
    color: #044354;
    height: 100vh;
    z-index: 1;
    background-color: #a12a09;
    font-size:300%;
    position: fixed;
    width: 40vw;
    padding-top: 0vh;
}
.song {
    width: 23rem;
    height: 4rem;
    display: flex;
    align-items: center;
    background-color: #dfbb99;
    color: #453a2f;
    justify-content: space-between;
    padding: 4px;
    border: solid #453a2f 2px;
}

.circle {
    width: 1vw;
    height: 1vw;
    border-width: 0.5vw;
    border-radius: 50%;
    border-color: #453a2f;
    border-style: solid;
}

.main {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    margin-left: 40vw;
    width: 46vw;
    min-height: 100vh;
    gap: 2px;
}

.name {
    font-size: large;
}
.bar {
    height: 95vh;
    width: 4rem;
    border-radius: 4rem;
    background-image: url("simple_art_deco_geometric_23.svg");
    background-clip: content-box;
    background-size: contain;
    background-repeat: repeat;
    border-width: 6px;
    border-style: solid;
    border-color: #674a26;
    position: fixed;
    left: 63vw;
    top: 1.5rem;
    z-index: -1;
}

.left {
    align-self: start;
    flex-direction: row-reverse;
}

.right {
    align-self: end;
    flex-direction: row;
    text-align: right;
}

.left:hover {
    transform: translateX(8px);
}

.right:hover {
    transform: translateX(-8px);
}
